body {
    min-height: 100vh;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.row {
    min-height: 100vh;
}

.table {
    min-height: 75%;
}

th.col-1,
td.col-1 {
    width: 14%;
    text-overflow: ellipsis;
}

td.col-1 {
    height: 14%;
}

tr.ht-19 {
    height: 19%;
}

th {
    text-align: center;
}
